# Python / Django
__pycache__/
*.py[cod]
*.log
*.sqlite3
env/
venv/
*/venv/
*.pot
*.pyc

# Node/Tailwind
node_modules/
*.log

# Django staticfiles compilados
staticfiles/
*/staticfiles/

# VirtualBox shared folders artefactos
*.vbox-prev
.DS_Store
Thumbs.db

# Archivos de entorno
*.env
.env*
